:root {
    --main-blue-color: #0E2F4B;
    --main-gray-color: #99A2AA;
    --main-gray-light-color: #F8F8F8;
    --main-yellow-color: #FEC524;
    --secondary-yellow-color: #FDC13D;
    --default-shadow: 0 3px 35px 0 rgba(95,98,102,.17);
    --default-transition: all .3s ease-in-out;
    --custom-border: 10px;
    --rubik-font: 'Rubik', sans-serif;
    --open-sans-font: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: var(--rubik-font);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.arrow {
    height: 8px;
    width: 8px;
    border-right: 3px solid var(--main-blue-color);
    border-top: 3px solid var(--main-blue-color);
    transform: rotate(45deg);
    cursor: pointer;
}

/* ------------------------- Header ------------------------- */

.header__container {
    padding-top: 25px;
}

.header__logo-wrapper {
    margin-bottom: 15px;
}

.nav__list {
    display: flex;
    gap: 30px;
}

.nav__link {
    color: var(--main-gray-color);
    font-size: 16px;
    line-height: 60px;
    display: inline-block;
    transition: var(--default-transition);
    border-bottom: 1px solid transparent;
}

.nav__link:hover {
    border-bottom: 1px solid #000;
    color: #000;
}

/* ------------------------- Subscription ------------------------- */

.subscription {
    background-color: var(--main-yellow-color);
}

.subscription__title {
    padding: 55px 0 35px;
    color: #fff;
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
}

.subscription__text {
    color: var(--main-blue-color);
    font-family: var(--open-sans-font);
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 60px;
}

.subscription__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
}

.subscription__form-input,
.subscription__form-item {
    border-radius: var(--custom-border);
    background-color: #fff;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
}

.subscription__form-input {
    width: calc(50% - 15px);
    border: none;
    padding: 25px 30px;
    color: #000;
    font-size: 16px;
}

.subscription__form-input:focus {
    outline: none;
}

.subscription__form-input::placeholder {
    color: #757575;
    font-size: 16px;
}

.subscription__form-list {
    display: flex;
    gap: 30px;
}

.subscription__form-item {
    width: 25%;
    transition: var(--default-transition);
}

.subscription__form-item:hover {
    box-shadow: var(--default-shadow);
}

.subscription__form-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--main-gray-color);
    padding: 25px 0;
    transition: var(--default-transition);
}

.subscription__form-link:hover {
    color: #000;
}

/* ------------------------- Post-services ------------------------- */

.post-services {
    background-color: var(--main-gray-light-color);
    color: var(--main-blue-color);
    padding: 100px 0;
    margin-top: -55px;
}

.post-services__container {
    display: flex;
    gap: 15px;
}

.post-services__info {
    padding: 30px 15px 30px 0;
    width: 100%;
}

.section-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.post-services__title {
    margin-bottom: 36px;
}

.post-services__text {
    font-family: var(--open-sans-font);
    font-size: 16px;
    line-height: 30px;
}

.post-services__text p:first-child {
    margin-bottom: 18px;
}

.post-services__links {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.post-services__item {
    height: 180px;
    width: calc(50% - 15px);
    padding: 30px;
    border-radius: var(--custom-border);
    background-color: #fff;
    transition: var(--default-transition);
}

.post-services__item:hover {
    box-shadow: var(--default-shadow);
}

.post-services__link {
    color: var(--main-blue-color);
}

.post-services__link-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    width: 55%;
    margin-bottom: 12px;
}

.post-services__link-title--wide {
    width: 100%;
}

.post-services__link-subtitle {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

/* ------------------------- International-business ------------------------- */

.international-business {
    background-color: var(--main-blue-color);
    color: var(--main-gray-light-color);
    padding: 120px 0 150px;
}

.international-business__info {
    max-width: 55%;
    padding: 30px 15px;
}

.international-business__title {
    margin-bottom: 36px;
}

.international-business__text {
    max-width: 57%;
    margin-bottom: 72px;
    color: var(--main-gray-color);
    font-family: var(--open-sans-font);
    font-size: 16px;
    line-height: 30px;
}

.international-business__link {
    padding: 28px 110px;
    color: var(--main-blue-color);
    background-color: var(--secondary-yellow-color);
    border-radius: var(--custom-border);
    font-size: 20px;
    font-weight: 700;
    transition: var(--default-transition);
}

.international-business__link:hover {
    background-color: var(--main-yellow-color);
}

/* ------------------------- Financial-services ------------------------- */

.financial-services {
    color: var(--main-blue-color);
    padding: 100px 15px 80px;
}

.financial-services__article {
    padding: 50px 75px 40px;
    margin-bottom: 120px;
    background-color: var(--secondary-yellow-color);
    border-radius: var(--custom-border);
}

.financial-services__article-title,
.financial-services__link-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}

.financial-services__article-text {
    font-family: var(--open-sans-font);
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 12px;
}

.financial-services__article-link,
.financial-services__link-subtitle {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: var(--main-blue-color);
}

.financial-services__title {
    margin-bottom: 32px;
}

.financial-services__links {
    display: flex;
    gap: 30px;
}

.financial-services__item {
    height: 270px;
    padding: 30px;
    width: 23%;
    transition: var(--default-transition);
}

.financial-services__item:hover {
    border-radius: var(--custom-border);
    background-color: #fff;
    box-shadow: var(--default-shadow);
}

.financial-services__link {
    color: var(--main-blue-color);
}

.financial-services__link-subtitle {
    font-size: 14px;
}

/* ------------------------- Index section ------------------------- */

.index {
    background-color: var(--main-blue-color);
    padding: 135px 0;
}

.index__title {
    padding-top: 30px;
    margin-bottom: 36px;
    color: #fff;
}

.index__info {
    margin-bottom: 80px;
    color: var(--main-gray-color);
    font-family: var(--open-sans-font);
    font-size: 16px;
    line-height: 30px;
}

.index__form {
    display: flex;
    height: 80px;
}

.index__form-input,
.index__form-button {
    height: 100%;
    border: none;
    outline: none;
    border-radius: var(--custom-border);
    font-family: var(--rubik-font);
}

.index__form-input {
    width: 500px;
    padding: 0 30px;
    margin-right: 10px;
    font-size: 16px;
}

.index__form-input::placeholder {
    color: #6C757D;
}

.index__form-button {
    width: 250px;
    cursor: pointer;
    color: var(--main-blue-color);
    background-color: var(--secondary-yellow-color);
    font-size: 20px;
    font-weight: 700;
    transition: var(--default-transition);
}

.index__form-button:hover {
    background-color: var(--main-yellow-color);
}

/* ------------------------- News section ------------------------- */

.news {
    padding: 100px 0 55px;
    background-color: var(--main-gray-light-color);
}

.news__title {
    padding: 30px 0;
    color: var(--main-blue-color);
}

.news__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.news__item {
    height: 250px;
    padding: 30px;
    width: calc(50% - 15px);
    background-color: #fff;
    border-radius: var(--custom-border);
    transition: var(--default-transition);
}

.news__item:hover {
    box-shadow: var(--default-shadow);
}

.news__link {
    color: var(--main-blue-color);
}

.news__link-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.news__link-date {
    color: var(--main-gray-color);
    font-family: var(--open-sans-font);
    font-size: 14px;
}

.news__link-title {
    margin-top: 10px;
    color: #0E2F4B;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.news__link-info {
    font-family: var(--open-sans-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.news__arrow-wrapper {
    display: flex;
    justify-content: flex-end;
}

/* ------------------------- Entities section ------------------------- */

.entities {
    padding-bottom: 80px;
    background-color: var(--main-gray-light-color);
}

.entities__title {
    padding-bottom: 60px;
    color: var(--main-blue-color);
}

.entities__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.entities__item {
    padding: 30px 0 30px 40px;
    width: calc(100%/3 - 20px);
    background-color: #fff;
    border-radius: var(--custom-border);
    transition: var(--default-transition);
}

.entities__item:hover {
    box-shadow: var(--default-shadow);
}

.entities__link {
    color: var(--main-gray-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    transition: var(--default-transition);
}

.entities__item:hover .entities__link {
    color: var(--main-blue-color);
}

/* ------------------------- Services section ------------------------- */

.services {
    padding: 90px 0 50px;
    background-color: var(--main-yellow-color);
    color: var(--main-blue-color);
}

.services__title {
    padding: 30px 0 36px;
    color: #fff;
}

.services__text {
    font-family: var(--open-sans-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}

.services__mobile-title,
.services__chat-title {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
}

.services__mobile-links {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.services__chat-list {
    display: flex;
    gap: 20px;
}

/* ------------------------- Footer ------------------------- */

.footer {
    padding: 100px 0;
    background-color: #1D2023;
    color: #fff;
}

.footer__container {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--main-gray-color);
}

.footer__list-wrapper {
    width: 25%;
}

.footer__subtitle {
    margin-bottom: 23px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.footer__item:not(:last-child) {
    margin-bottom: 15px;
}

.footer__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--main-gray-color);
    transition: var(--default-transition);
}

.footer__link:hover {
    color: #fff;
}
